<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../demo/demo-page.js';
		import '../expand-collapse.js';
	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-status-indicator">

		<h2>Default</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-expand-collapse>
					Yar Pirate Ipsum
					Crow's nest chase guns coxswain belay coffer jib Shiver me timbers tackle piracy Buccaneer. Overhaul topsail Cat o'nine
					tails lee wherry Sink me smartly ballast Sail ho hardtack. Bowsprit aft quarterdeck killick pirate black jack hands
					crimp interloper yawl.

					Mutiny rigging mizzen reef rum boatswain aft carouser sloop cackle fruit. Interloper black jack Jack Ketch brig lee
					draft reef sails pinnace haul wind fore. Doubloon swab lookout topgallant strike colors jack salmagundi splice the main
					brace line long boat.

					Me trysail gangplank Plate Fleet Sink me hang the jib lanyard parrel square-rigged stern. Gangplank chandler brigantine
					spyglass scurvy rope's end plunder lugger topmast trysail. Admiral of the Black cackle fruit hearties maroon bounty
					Blimey yo-ho-ho sutler pillage boom.
				</d2l-expand-collapse>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

</body>

</html>
